@import 'tailwindcss';

body {
  min-height: 100vh;
  font-family: var(--font-pretendard), sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

input {
  /* background-color: inherit; */
  /* color: inherit; */
  /* border: none; */
  outline: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@theme {
  /* 라이트모드 설정 */
  --color-main: #ced2e2;
  --color-sub: #64748b;
  --color-point: #d3d7e7;

  --color-bg-primary: #f2f3f6;
  --color-bg-component: #fff;

  --color-text-primary: #2d2f36;
  --color-text-2: #4b4f5b;
  --color-text-3: #747474;
  --color-text-hover: #f1f4ff;
  --color-text-point: #7a89bf;

  --font-main: var(--font-pretendard);
  --radius-main: 12px;
  --radius-sub: 20px;

  --shadow-default: 4px 4px 20px 0px rgba(0, 0, 0, 0.1), -4px -4px 20px 0 rgba(0, 0, 0, 0.1);
  --shadow-hover: 4px 4px 20px 0px rgba(0, 0, 0, 0.2), -4px -4px 20px 0 rgba(0, 0, 0, 0.2);
}

@variant dark (&:where(.dark, .dark *));

/* 다크모드 설정 */
@layer base {
  .dark {
    --color-main: #383b44;
    --color-point: #14161c;

    --color-bg-primary: #242732;
    --color-bg-component: #383b44;

    --color-text-primary: #f6f6f6;
    --color-text-2: #d4d4d4;
    --color-text-3: #747474;
    --color-text-hover: #4b4f5b;
    --color-text-point: #7a89bf;

    --shadow-default: 4px 4px 10px 0px rgba(0, 0, 0, 1), -4px -4px 10px 0 rgba(0, 0, 0, 1);
    --shadow-hover: 4px 4px 10px 0px rgba(0, 0, 0, 1), -4px -4px 10px 0 rgba(0, 0, 0, 1);
  }

  body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--font-pretendard), sans-serif;
  }
}

/* H1 */
@utility text-title {
  font-size: clamp(28px, 3vw, 48px);
  font-weight: 500;
  font-family: var(--font-main);
}

@utility text-sub-title {
  font-size: clamp(20px, 2.2vw, 32px);
  font-weight: 400;
  font-family: var(--font-main);
}

/* 게시글 내용 속 타이틀 */
@utility text-content-title {
  font-size: clamp(20px, 2.2vw, 32px);
  font-weight: 500;
  font-family: var(--font-main);
}

@utility text-content-sub {
  font-size: clamp(16px, 1.6vw, 28px);
  font-weight: 500;
  font-family: var(--font-main);
}

@utility text-24 {
  font-size: clamp(16px, 1.6vw, 24px);
  font-weight: 400;
  font-family: var(--font-main);
}

@utility text-24-bold {
  font-size: clamp(16px, 1.6vw, 24px);
  font-weight: 500;
  font-family: var(--font-main);
}

@utility text-20 {
  font-size: clamp(14px, 1.1vw, 20px);
  font-weight: 400;
  font-family: var(--font-main);
}

@utility text-20-bold {
  font-size: clamp(14px, 1.1vw, 20px);
  font-weight: 500;
  font-family: var(--font-main);
}

@utility text-body {
  font-size: clamp(14px, 1.1vw, 16px);
  font-weight: 400;
  font-family: var(--font-main);
}

@utility text-body-bold {
  font-size: clamp(14px, 1.1vw, 16px);
  font-weight: 500;
  font-family: var(--font-main);
}

@utility text-12 {
  font-size: clamp(8px, 1vw, 12px);
  font-weight: 400;
  font-family: var(--font-main);
}
